<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
        overflow: scroll;
      }
    </style>
	
	<style type="text/css"> 
		.onstate-myswitch { display: block; } 
		.offstate-myswitch { display: none; } 
	</style>
	
	
	

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="/bootstrap/js/wforms_core.js"></script>
  <script type="text/javascript" src="/bootstrap/js/wforms_switch.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
  
    <script>
  $(document).ready(function() {
    $("#datepicker1").datepicker();
  });
  </script>
  
  <script>
    function showDiv1() {
   document.getElementById('week').style.display = "block";
	}
  </script>
  
  <script>
    function showDiv2() {
   document.getElementById('month').style.display = "block";
}
</script>

  <script>
    function showDiv3() {
   document.getElementById('michaels').style.display = "block";
}

    function showDiv4() {
   document.getElementById('success').style.display = "block";
}
</script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Koupon Media Email Generator</a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

      <form action="/sample_Email" method="POST">
		<pre>
	<!--
	From:      <input type="email" name="From" />
	Password   <input type="password" name="Password" />
	To:        <input type="email" name="To" />
	CC:        <input type="email" name="CC" />
	Subject:   <input type="text" name="Subject" />-->
	ReportName: <input type="text" name="ReportName" />
	ClientName: <input type="text" name="Name" />
	ClientID:   <input type="text" name="ID" />
	
	DateStart:  <input  type="datetime-local" name="Start"/>      DateEnd:  <input  type="datetime-local" name="End"/>
	<input type="checkbox" name="Offer" value="True"> Offer Metrics  <input type="checkbox" name="User" value="True" > User Metrics  <input type="checkbox" name="Store" value="True"> Store Metrics  <input type="checkbox" name="Michaels" class="switch-myswitch3" onclick="showDiv3()"> Michaels:Weekly <input type="button" class="btn btn-large btn-primary" value="Other Tabs" onclick="showDiv4()" />   
	<div id="michaels" style="display:none;"> 
	GoogleAnalytics:<input type="submit" class="btn btn-large btn-primary" value="Configure">
	ExtAcct:<input type="text" name="Mich_acc" />
	KM Token:<input type="text" name="Mich_token" /> </div>
	<input type="checkbox" name="Week"  class="switch-myswitch1" onclick="showDiv1()"> Weekly  <input type="checkbox" name="Month" onclick="showDiv2()" class="switch-myswitch2"> Monthly
	<div id="week" style="display:none;">Every: <input type="number"  name="weekday" min="1" max="7" />  Day of the Week</div>			<div id = "month" style="display:none;">Every: <input type="number" name="monthday" min="1" max="28" />  Day of the Month</div>
	</pre>	
	<!--<div>Body:<textarea name="body" class="input-block-level" rows="5"></textarea></div> -->
    <div><input type="submit" class="btn btn-large btn-primary" value="Send Report"></div>
      </form>
	  
<div id="success" style="display:none;"></div>
<div id="error">
</div>

 
<script>
$("#success").load("/DisplayTab", function(response, status, xhr) {
  if (status == "error") {
    var msg = "Sorry but there was an error: ";
    $("#error").html(msg + xhr.status + " " + xhr.statusText);
  }
});
  </script>
  
	</div>
    </div>
  </body>
</html>
{% endautoescape %}