<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
        overflow: scroll;
      }
    </style>
  </head>
    <SCRIPT language="javascript">
    function add(val) {
 
    //Create an button for deleting the row.
    var element = document.createElement("input");
 
    //Assign different attributes to the element.
    element.setAttribute("type", "button");
    element.setAttribute("value", "x");
    element.setAttribute("name", "DelStaParam");
 
    var loc = document.getElementById("loc1");
 
    //Append the element in page (in span).
    //loc.appendChild(element);


    //Create an input text box for key.
    var element = document.createElement("input");
 
    //Assign different attributes to the element.
    element.setAttribute("type", "text");
    element.setAttribute("value", "Key");
    element.setAttribute("name", "Key");
 
    var loc = document.getElementById("loc1");
 
    //Append the element in page (in span).
    loc.appendChild(element);


    //Create an input text box for key Value.
    var element = document.createElement("input");
 
    //Assign different attributes to the element.
    element.setAttribute("type", "text");
    element.setAttribute("value", "Value");
    element.setAttribute("name", "KeyValue");
 
    var loc = document.getElementById("loc1");
 
    //Append the element in page (in span).
    loc.appendChild(element);
 
};
</SCRIPT>
  <body>
    <div class="container">
      <form action="/AddTab" method="POST">
      <input type="text" name="TabName" value="Display Name" onfocus="this.value = this.value=='Display Name'?'':this.value;" onblur="this.value = this.value==''?'Display Name':this.value;"/>  
      <input type="text" name="TabId" value="Template ID" onfocus="this.value = this.value=='Template ID'?'':this.value;" onblur="this.value = this.value==''?'Template ID':this.value;"/>
      <pre>
      LOCAL PARAMETERS:
          DEFAULT STATIC PARAMS
          {% set i = 1 %}

          <input type="Button" value="+ Static Parameter" onclick="add({{i++}})"/> 
          <input type="text" name={{ "Key"~i }} value="Key" onfocus="this.value = this.value=='Key'?'':this.value;" onblur="this.value = this.value==''?'Key':this.value;"/>  <input type="text" style="width:350px;" name="KeyValue" value="value" onfocus="this.value = this.value=='value'?'':this.value;" onblur="this.value = this.value==''?'value':this.value;"/><br/>
          <span id="loc1">&nbsp;</span>
          <br/>
          Dynamic PARAMS 
          <button type="AddDynParam"> + Dynamic Parameter</button>
      <button type="DelDynParam">x</button> <select name="ParamType">
<option value="Key:Value">Key:Value</option>
<option value="Google OAuth">Google</option>
<option value="Twitter OAuth<">Twitter</option>
<option value="Facebook OAuth">Facebook</option>
</select> <input type="text" name="ExtAcct" value="External Account" onfocus="this.value = this.value=='External Account'?'':this.value;" onblur="this.value = this.value==''?'External Account':this.value;"/>  <input type="text" style="width:350px;" name="ExtUserInput" value="NA - external user to fill in" onfocus="this.value = this.value=='NA - external user to fill in'?'':this.value;" onblur="this.value = this.value==''?'NA - external user to fill in':this.value;"/>
      <div><input type="submit" style="margin-left:350px;" class="btn btn-large btn-primary" value="Submit"> <input type="reset" value="Remove tab" style="margin-left:150px;"></div>
      </form>
    </div>
  </body>
</html>
{% endautoescape %}

